In [9]:
import numpy as np
import pandas as pd
import sklearn

In [5]:
   from sklearn.datasets import load_boston
   df = load_boston()

In [ ]:
 df.keys()

In [ ]:
print(df.DESCR)

In [ ]:
boston = pd.DataFrame(df.data, columns=df.feature_names)
boston.head()

In [20]:
boston['MEDV'] = df.target
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [ ]:
boston.isnull()

In [ ]:
boston.isnull().sum()

In [ ]:
from sklearn.model_selection import train_test_split
X = boston.drop('MEDV',axis=1)
Y = boston['MEDV']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.15, random_state=5)

print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

In [30]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [34]:
lin_model = LinearRegression()

lin_model.fit(X_train, Y_train)

LinearRegression()

In [ ]:
y_train_predict = lin_model.predict(X_train)
rmse = (np.sqrt(mean_squared_error(Y_train, y_train_predict)))

print("the model performance for training set")
print('RMSE is {}'.format(rmse))
print("\n")


y_test_predict = lin_model.predict(X_test)
rmse =(np.sqrt(mean_squared_error(Y_test,y_test_predict)))

print("the model performance for testing set")
print('RMSE IS {}'.format(rmse))